@import 'https://fonts.googleapis.com/css?family=Poppins:300, 400, 600&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
html {
	font-size: 10px;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
img {
	height: 100%;
	width: 100%;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: auto;
}
#header .header {
	background-color: white;
	min-height: 7.5vh;
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1600px;
	padding-right: 30px;
	padding-left: 40px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	display: flex;
	flex-direction: column;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2rem;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: black;
	margin: 10px;
	padding: 5px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	border: 2px solid transparent;
	color: white;
	background: #333333;
}
.brand h1 {
	font-size: 29px;
	color: black;
}
/* End Header section */

/* Hero Section */
#hero {
  display: flex;
  align-items: center;
  background-color: white;
  position: relative;
  z-index: 1;
  padding-right: 423px;
}
#hero::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  width: 90%;
  background-color: #f6fbff;
  z-index: -1;
}
#hero::after img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#hero .foto {
  margin-right: 100px;
  margin-left: 0;
  position: relative;
  height: 819px;
  width: 623px;
}
#hero .teks{
	position: absolute;
	width: 90%;
	justify-content: center;
	padding-left: 43%;
	align-items: center;
}
#hero .teks h1:nth-of-type(2)::after {
	content: '';
	display: block;
	width: 315px;
	height: 5px;
	background-color: #222;
	margin-top: 5px;
}
#hero .teks h1 {
	font-size:74px;
    text-shadow: 2px 2px 1px grey;
    font-size: 74px;
}
#hero .teks span{
    color: cornflowerblue;
}
#hero .cta {
	display: inline-block;
	background: #333333;
    padding:  12px 30px;
    border:  2px solid transparent;
    color: white;
    font-size: 16px;
	margin-top: 30px;
	transition: 0.3s ease;
}
#hero .cta:hover {
	background:  transparent;
    border: 2px solid black;
    color: #333333;
    transform: translateY(-1opx);
}
#hero .scroll-down{
	position: absolute;
    right: 100px;
    bottom: 120px;
    z-index: 2;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    cursor: pointer;
}
#hero .scroll-text {
    position: absolute;
    right: 120px;
    bottom: 60px;
	left: -40px;
	top: 5;
    z-index: 3;
    font-size: 12px;
    color: #222;
    writing-mode: vertical-rl;
    text-orientation:mixed;
    transform: rotate(-45deg);
}  
.scroll-down span {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
	box-sizing: border-box;
	display: block;
	border: none;
	border-right: 2px solid #333333;
	border-bottom: 2px solid #333333;
	animation: animate 1s linear infinite;
}
.scroll-down span:nth-child(1) {
	top: -30px;
	left: -30px;
	animation-delay: 0s;
}
  
.scroll-down span:nth-child(2) {
	top: -15px;
	left: -15px;
	animation-delay: 0.2s;
}
.scroll-down span:nth-child(3) {
	top: 0px;
	left: 0px;
	animation-delay: 0.4s;
}
.scroll-down span:nth-child(4) {
	top: 15px;
	left: 15px;
	animation-delay: 0.6s;
}
.scroll-down span:nth-child(5) {
	top: -30px;
	left: -30px;
	animation-delay: 0.8s;
}
@keyframes animate {
	0% {
	  border-color: crimson;
	  transform: translate(0, 0);
	}
	20% {
	  border-color: crimson;
	  transform: translate(15px, 15px);
	}
	20.1%,
	100% {
	  border-color: cornflowerblue;
	}
}
/* End Hero Section */

/* About Section */
#about .box1 {
	padding: 1.5rem;
	margin-left: auto;
  	margin-right: auto;
	margin-top: -50px;
}
#about .box2 {
	padding: 1.5rem;
	margin-left: auto;
  	margin-right: auto;
	margin-top: -50px;
}
#about .about {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	padding: 2rem 40px;
	margin-left: auto;
	margin-right: auto;
}
#about .col-right {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 100px;
	padding-left: 4rem;
    justify-content: center;
}

#about .col-right .box1 {
	width: 45%;
	padding: 1rem;
	margin-left: auto;
	margin-right: auto;
	order: 0;
}

#about .col-right .box2 {
	width: 45%;
	padding: 1rem;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	font-size: 2rem;
	order: 1;
}
#about .col-left {
	width: 250px;
	height: 360px;
	padding-bottom: -50px; 
    padding-top: -100px;
}

#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 5px solid #6495ed;
	margin-left: 10px;
	z-index: -1;
}
#about .about-img img {
	height: 100%;
	max-width: 100%;
	display: block;
	border: 10px solid #f6fbff;
	z-index: 1;
}
#about .col-right {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 100px;
	padding-left: 2rem;
}
#about .col-right h1{
	width: 100%;
	position: relative;
	padding-bottom: 200px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#about .col-right p {
	padding-bottom: 100px;
}
p {
	color: black;
	font-size: 2rem;
	line-height: 3rem;
	font-weight: 300;
	letter-spacing: 0.08rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
	justify-content: center;
}
.section-title span {
	color: #6495ed;
}
#about .flex-center {
	position: absolute;
	justify-content: flex-end;
	align-items: flex-end;
	display: flex;
	padding-left: 820px;
	padding-top: 700px;
}
#about .find-me {
	position: absolute;
	width: auto;
	height: auto;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 80px;
	color: #333333;
	text-transform: uppercase;
}
#about .flex-center p {
	font-size: 1.5em;
}
#about .flex-center p::before{
	content: "";
	position: absolute;
	top: 50%;
	width: 68%;
	margin-left: 28px;
	height: 1px;
	background-color: black;
}
#about .flex-center p::before {
	left: -50%;
	transform: translateX(-50%);
}
#about ul{
	position: relative;
	display: flex;
	gap: 25px;
}
#about ul li{
	background-color: cornflowerblue;
	position: relative;
	list-style: none;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
#about ul li:hover{
	width: 180px;
}
#about ul li a{
	text-decoration: none;
	justify-content: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#about ul li a i{
	color: #fff;
	font-size: 1.7em !important;
	transition: 0.5s;
	transition-delay: 0.25s;
}
#about ul li:hover a i{
	transform: scale(0);
	font-size: 1.7em;
	transition-delay: 0.25s;
}
#about ul li a .titulo{
	color: #fff;
	transform: scale(0);
	font-size: 1.1em !important;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	transition: 0.5s;
	transition-delay: 0s;
}
#about ul li:hover a .titulo{
	transform: scale(1);
	transition-delay: 0.25s;
}
#about ul li::before{
	content: '';
	position: absolute;
	inset: 0;
	border-radius: 50px;
	background: linear-gradient(45deg, var(--i),var(--j));
	opacity: 0;
	transition: 0.5s;
}
#about ul li:hover:before{
opacity: 1;
}
#about ul li::after{
	content: '';
	position: absolute;
	top: 10px;
	width: 100%;
	height: 100%;
	border-radius: 60px;
	background: linear-gradient(45deg, var(--i),var(--j));
	opacity: 0;
	transition: 0.5s;
	z-index: -1;
	filter: brightness(15px);
}
#about ul li:hover::after{
	opacity: 0.5;
}
#about ul li i{
	color: #fff;
	font-size: 1.7em !important;
	transition: 0.5s;
	transition-delay: 0.25s;
}
#about ul li:hover i{
	transform: scale(0);
	font-size: 1.7em;
	transition-delay: 0.25s;
}
#about ul li span{
	position: absolute;
}
#about ul li .titulo{
	color: #fff;
	transform: scale(0);
	font-size: 1.1em !important;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	transition: 0.5s;
	transition-delay: 0s;
}
#about ul li:hover .titulo{
	transform: scale(1);
	transition-delay: 0.25s;
}
/* End About Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}	
#contact .contact-items {
	width: 100%;
}
#contact .contact-item {
	width: 100%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 2px 0 #222;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 10px 0 #6495ed;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid cornflowerblue;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .section-title{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
		padding-bottom: 100px;
	}
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */
	#contact .contact-items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
		flex-direction: row;
	  }
	  
	  #contact .contact-item {
		width: 100%;
		margin-bottom: 20px;
	  }
}
/* End  Media Query For Desktop */
@media only screen and (min-width: 768px) {
	#contact .contact-items {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  align-items: stretch;
	  flex-direction: row;
	}
	
	#contact .contact-item {
	  width: 48%;
	}
  }
  @media only screen and (min-width: 992px) {
	#contact .contact-items {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	}
	
	#contact .contact-item {
	  width: 100%%;
	}
  }